<div class="center hero-unit">
  <h1>Welcome to klinkr</h1>

  <h2>
    klinkr is the new way to share photos of places you've been to and to find amazing new locations to visit all around the globe.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>