<div class="row-fluid">
  <div class="span12">
    <div class="left-body">
      <h3>Newest klinks</h3>
      <%= render 'shared/feed' %>
    </div>
    <div class="right-col">
      teste
    </div>
  </div>
</div>