<% if @feed_items.any? %>
  <ol class="klinks">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
  </ol>
  <p align="center">
    <%= will_paginate @feed_items %>
  </p>
<% end %>