<%= form_tag klinks_path, multipart: true do %>
  <% #render 'shared/error_messages', object: f.object %>
  <%= file_field_tag :photo %>
  <div class="field">
    <%= text_area_tag :description %>
  </div>
  <%= submit_tag "klink!", class: "btn btn-large btn-primary" %>
<% end %>